<plugin>
	<nom>Demop&aelig;dia - G&eacute;n&eacute;rateur de documents</nom>
	<icon>img/demopaedia-64.png</icon>
	<auteur>Joseph Larmarange [->http://joseph.larmarange.net]</auteur>
	<licence>GNU/GLP</licence>
	<version>0.4.1</version>
	<version_base>0.3</version_base>
	<description>Ce plugin permet de g&eacute;n&eacute;rer diff&eacute;rents documents &agrave; partir des dictionnaires d&eacute;mographiques multilingues.</description>
	<etat>dev</etat>
	<prefix>demopaedia</prefix>
	<options>demopaedia_options.php</options>
	<fonctions>demopaedia_fonctions.php</fonctions>
	<install>base/demopaedia_installation.php</install>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/demopaedia_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/demopaedia_tables.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>demopaedia_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>taches_generales_cron</nom>
		<inclure>demopaedia_cron.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ieconfig_metas</nom>
		<inclure>demopaedia_ieconfig_metas.php</inclure>
	</pipeline>
	<bouton id="demopaedia" parent="naviguer">
		<icone>img/demopaedia-24.png</icone>
		<titre>demopaedia:demopaedia</titre>    
		<url>demopaedia</url>
	</bouton>
	<bouton id='demoapedia21' parent='bando_administration'>
		<icone>img/demopaedia-24.png</icone>
		<titre>demopaedia:demopaedia</titre>
		<url>demopaedia</url>
	</bouton>
	<bouton id='cfg_demoapedia21' parent='bando_configuration'>
		<icone>img/demopaedia-24.png</icone>
		<titre>demopaedia:demopaedia</titre>
		<url>cfg</url>
		<args>cfg=demopaedia</args>
	</bouton>
	<bouton id='cfg_demoapedia' parent='configuration'>
		<icone>img/demopaedia-24.png</icone>
		<titre>demopaedia:demopaedia</titre>
		<url>cfg</url>
		<args>cfg=demopaedia</args>
	</bouton>
	<necessite id="SPIP" version="[2.1.10;]" />
	<necessite id="cfg" />
	<necessite id="spip_bonux" />
	<necessite id="Z" />
	<utilise id="menus" />
	<necessite id="compositions" />
</plugin>